<router-outlet></router-outlet>

<div class = "row"> 
  <div class="searchbg">
  <div class="search-container">
    
      <input type="text" [(ngModel)]="DisplayName" placeholder="Serach any fields"/>
      
    
  </div>
  </div>
  
              
  <div class = "columnA" > 
   
    <table  class="table table-striped" bordered="true">
      <thead  >
        <tr>
          
          <th space="col-2"></th>
          <h4  class="text-secondary">
          <th  space="col-2">CONTACTS</th>
        </h4>
        </tr>
        </thead>
      <tbody>
        <tr *ngFor="let contact of contacts | contactDisplayNameFilter:DisplayName;" >
          <td> 
            
              <ngx-avatar name="{{contact.DisplayName}}"
                [roundShape]="true"
                size="50" alignmet="auto" >    
              </ngx-avatar>
          </td>
            <td>
              <h4 class="text-secondary">
               <a [routerLink]="['/second-component', contact.DisplayName]"  class="text-secondary">{{contact.DisplayName}}</a>
              </h4>
              </td>
           
        </tr>
      </tbody>
      </table>
      
    </div>
  </div>
