<!---h1> Contact # {{contact.email}}</h1-->


  <div class = "row"> 
             
    <div class = "columnB" > 
      <h4 class="text-secondary">
        <table class="table table-striped" bordered="true">
          <thead>
          <tr>
            
            <th scope="col">DETAILS</th>
            
            <th  scope="col">CONTACTS INFORMATION</th>
          
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name </td>
              <td>{{contact.DisplayName}}
                
                <input type="text" #text class="form-control" id="uname"
                   name="uname">
                <button (click)="updateName(text.value)">Edit</button>
              
            </td>

            </tr>
            <tr>
              <td>Email  </td>
              <td>{{contact.EmailAddress}}</td>
            </tr>
            <tr>
              <td>Related Name </td>
              <td>{{contact.Relatedname}} </td>
            </tr>
            <tr>
              <td>Home Address 2  </td>
              <td>{{contact.HomeAddress2}}</td>
            </tr>
            <tr>
              <td>Anniversary</td>
              <td>{{contact.Anniversary}}</td>
            </tr>
            <tr>
              <td>First Name </td>
              <td>{{contact.FirstName}}</td>
            </tr>
            <tr>
              <td>Department </td>
              <td>{{contact.Department}}</td>
            </tr>
            <tr>
              <td>Home State </td>
              <td>{{contact.HomeState}}</td>
            </tr>
            <tr>
              <td>Business Country </td>
              <td>{{contact.BusinessCountry}}</td>
            </tr>
            <tr>
              <td>Home Street </td>
              <td>{{contact.HomeStreet}}</td>
            </tr>
            <tr>
              <td>Birthday </td>
              <td>{{contact.Birthday}}</td>
            </tr>
            <tr>
              <td>Home Country </td>
              <td>{{contact.HomeCountry}}</td>
            </tr>
            <tr>
              <td>Pager</td>
              <td> {{contact.Pager}}</td>
            </tr>
            <tr>
              <td>Categories</td>

              <td>{{contact.Categories}}</td>
            </tr>
            <tr>
              <td>Home City</td>
              <td>{{contact.HomeCity}}</td>
            </tr>
            <tr>
              <td>Email 3 Address </td>
              <td>{{contact.Email3Address}}</td>
            </tr>
            <tr>
              <td>Home Fax </td>
              <td>{{contact.HomeFax}}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td> {{contact.Gender}}</td>
            </tr>
            <tr>
              <td>Notes </td>
              <td>{{contact.Notes}}</td>
            </tr>
            <tr>
              <td>Country Code </td>
              <td>{{contact.CountryCode}}</td>
            </tr>
            <tr>
              <td>Job Title </td>
              <td>{{contact.JobTitle}}</td>
            </tr>
            <tr>
              <td>Business Address </td>
              <td>{{contact.BusinessAddress}}</td>
            </tr>
           <tr>
            <td>Web Page 2 </td>
            <td>{{contact.WebPage2}}</td>
           </tr>
           <tr>
            <td>Mobile Phone </td>
            <td>{{contact.MobilePhone}}

              

            </td>
           </tr>
           <tr>
            <td>Organization </td>
             <td>{{contact.Organization}}</td>
           </tr>
           <tr>
            <td>Home Phone </td>
            <td>{{contact.HomePhone}}
              <input type="text" #text class="form-control" id="unumber"
              name="unumber">
            <button (click)="updateNumber(text.value)">Edit</button>

            </td>
           </tr>
           <tr>
            <td>Email 2 Address </td>
            <td>{{contact.Email2Address}}</td>
           </tr>
           <tr>
            <td>Last Name</td>
            <td> {{contact.LastName}}</td>
           </tr>
           <tr>
            <td>Nickname </td>
            <td>{{contact.Nickname}}</td>
           </tr>
           <tr>
            <td>Business Fax </td>
            <td>{{contact.BusinessFax}}</td>
           </tr>
           <tr>
            <td>Home Postal Code </td>
            <td>{{contact.HomePostalCode}}</td>
           </tr>
           <tr>
            <td>Business Phone </td>
            <td>{{contact.BusinessPhone}}</td>
            </tr>
            <tr>
              <td>Business Postal Code</td>
              <td>{{contact.BusinessPostalCode}}</td>
            </tr>
            <tr>
              <td>WebPage </td>
              <td>{{contact.WebPage}}</td>

            </tr>
            <tr>
              <td>Business City </td>
              <td>{{contact.BusinessCity}}</td>
            </tr>
            <tr>
              <td>Business State</td>
              <td> {{contact.BusinessState}}</td>
            </tr>
          
     
           </tbody>
          </table>
    </h4>
  </div>
</div>



